<!DOCTYPE html>
<html lang="en" html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>AddCar</title>
</head>
<body>
<form action="/" method="post">
    <p>Car Marx <input maxlength="25" size="40" value="Marx" name="Marx"></p>
    <p>Car Engine <input maxlength="25" size="40" value="Engine" name="Engine"></p>
    <p>Car Manufect
        <select name="Manufect" >
            <option th:each="manufect:${manufects }"
                    th:value="${manufect }"
                    th:text="${manufect }"/>
        </select>
    </p>
    <p><input type="submit" value="Отправить"></p>
</form>
</body>
</html>