<!DOCTYPE html>
<html lang="en" html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>AddCar</title>
</head>
<body>
<form action="/" method="post">
    <p><input maxlength="25" size="40" value="Marx" name="Marx"></p>
    <p><input maxlength="25" size="40" value="Engine" name="Engine"></p>
    <p><select name="Manufect">
        <option> one</option>
        <option> two</option>
        <option> three</option>
        <option> four</option>
    </select></p>
    <p><input type="submit" value="Отправить"></p>
</form>
</body>
</html>