<!DOCTYPE html>
<html lang="en" html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<form action="/add" method="get">
    <button>Добавить Машину</button>
</form>
<table border="1">
    <caption>Таблица машин</caption>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.manufect.getName()}"></td>
        <td th:text="${car.marx}"></td>
        <td th:text="${car.engine}"></td>
    </tr>
</table>
</body>
</html>